<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/visitors/index">
                    Information By Topic
                </a>
            </li>
            <li>
                <a href="#">Sleep Benefits</a>
            </li>
            <li>
                <a href="/visitors/hygiene">Sleep Hygiene</a>
            </li>
            <li>
                <a href="/visitors/body">Sleep Deprivation and the Body</a>
            </li>
            <li>
                <a href="#">Sleep Deprivation and the Brain</a>
            </li>
            <li>
                <a href="/visitors/alcohol">Sleep and Alcohol</a>
            </li>
            <li>
                <a href="#">Sleep and Caffiene</a>
            </li> 
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    <h1>Sleep and Alcohol</h1>

										<p>Alcohol affects sleep and can have an impact on memory consolidation. In one study (Smith & Smith 2003), participants learned a complex cognitive test, and were retested the next week. One group of participants was given alcohol on the first night, another group was given alcohol on the third night, and the last group was given no alcohol on any night as a control group. When these participants were retested, those that were given alcohol sometime during the week performed worse than those who were given no alcohol (see chart below to see results). From this study, it shows that alcohol before bed, even several nights after learning, prevents memories from being consolidated. What is the reasoning behind this? It’s because alcohol suppresses REM sleep (one stage of sleep), and some types of memory consolidation might be dependent on REM; this is why participants when given alcohol, even on night 3, performed poorer on the test after a week because the alcohol prevented memory retention.</p>

										<p> Long story short, if you want optimal memory retention for something like an exam, avoiding alcohol, especially during learning, may help!</p>

                    <img src="/assets/alcohol.png" align="left" width="50%">

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
