<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/visitors/index">
                    Information By Topic
                </a>
            </li>
            <li>
                <a href="/visitors/benefits">Sleep Benefits</a>
            </li>
            <li>
                <a href="/visitors/hygiene">Sleep Hygiene</a>
            </li>
            <li>
                <a href="/visitors/body">Sleep Deprivation and the Body</a>
            </li>
            <li>
                <a href="/visitors/brain">Sleep Deprivation and the Brain</a>
            </li>
            <li>
                <a href="/visitors/alcohol">Sleep and Alcohol</a>
            </li>
            <li>
                <a href="/visitors/caffeine">Sleep and Caffeine</a>
            </li> 
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    <h1>Sleep Benefits</h1>

                    <h3>Creativity</h3>
                    <p>Sleep can play a large role in creativity. There are many societal anecdotes of sleep’s impact on creativity, with playing a role in the songs “Yesterday” and “Let It Be” by the Beatles. Sleep played a role in the novels such as as “Dr. Jekyll and Mr. Hyde” by Robert Stevenson and “Frankenstein” by Mary Shelley. Jack Nicklaus used sleep to improve his golf technique and performance; similarly, Thomas Edison used sleep to help him come up with ideas for his inventions. Examples from science include Otto Loewi’s discovery of neurochemical transmission and Dmitri Mendeleev’s creation of the periodic table of elements. Beyond anecdotes and examples, a study (Wagner et al. 2004), were given a number reduction task. There is shortcut that makes it simpler, and the study found that those who slept before being tested were about 35% more likely to discover the shortcut. </p>

    							<h3>Procedural Skills</h3>
    							<p>Sleep is important in learning procedural skills such as motor and visual skills. In one study, participants were given a finger-tapping motor task. Some participants were tested during the day, then before sleep, then after sleep. The other group was tested before sleep, after sleep, and once again later that day. Each test/retest had gaps of 12 hours between them. The study showed that the gap between testing before sleep and after sleep had the most significant improvement, regardless if the participants were first tested in the day of before sleep. This showed that following learning, the brain will continue to improve across periods of sleep even in the absence of further practice. Another study used a visual discrimination task to look at visual skills. Participants were all trained on day 0, and then retested on different days depending on their group. The study showed that there was offline improvement over the few days. But one group was sleep deprived on the first night and retested on the third night, and performed poorest. As a whole, this study showed that it was the time asleep led to improvement.</p>

			    				<h3>Declarative Memory</h3>
			    				<p>Sleep is important in retaining information and facts. A study (Jenkins 1924) studied 2 subjects and had them learn nonsense syllables. The repeated the experiment with each subject with and without sleep, so each participant would be in both conditions. During the testing, the participants were woken up in increments during sleep. The study found that sleep stabilizes declarative (or fact-based) memory, and offered immunity against forgetting those facts.</p>

			    				<h3>Sleep!</h3>
                  <img align="left" src="/assets/benefits.jpg">

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>