<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/visitors/index">
                    Information By Topic
                </a>
            </li>
            <li>
                <a href="#">Sleep Benefits</a>
            </li>
            <li>
                <a href="/visitors/hygiene">Sleep Hygiene</a>
            </li>
            <li>
                <a href="/visitors/body">Sleep Deprivation and the Body</a>
            </li>
            <li>
                <a href="#">Sleep Deprivation and the Brain</a>
            </li>
            <li>
                <a href="/visitors/alcohol">Sleep and Alcohol</a>
            </li>
            <li>
                <a href="#">Sleep and Caffiene</a>
            </li> 
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    <h1>Sleep Deprivation and the Body</h1>

                    <h3>Immune System</h3>
                    <p>A study showed sleep deprivation’s effect on the immune system. All participants were given influenza vaccinations, but one group was sleep deprived afterwards and the control group was fully rested afterwards. After ten days, the antibody response in the sleep deprivation group was less than half o the the control group’s. Even after recovery sleep, the sleep deprivation group still had a statistically significant less antibody response. This shows the importance of sleep in vaccinations and a functioning immune system. Yes, the vaccination is necessary, but not sufficient. One also needs a functioning immune system (which can be impaired by sleep deprivation) for the immunization to work. </p>

										<h3>Cancer</h3>
										<p>One study (Irwin et al. 1994) showed that with four hours of sleep reduction led to a 70% decrease in natural killer cells in our immune system, which are cells that play a significant role in defending against cancer and cancer growth.</p>

										<h3>Diabetes</h3>
										<p>A study showed showed the effect of sleep deprivation on glucose tolerance, which is the efficiency of clearing glucose from the blood (this is important to test because high glucose levels in the blood can be dangerous). After about a week of either being well rested or being sleep deprived (four hours a night), participants were tested for glucose tolerance. With sleep deprivation, glucose tolerance was impaired by over 40%, and these levels are similar to those who have a significant risk of diabetes.</p>

										<h3>Obesity</h3>
										<p> A study showed the effect of sleep deprivation and hunger. There were two groups, a control condition and a sleep deprived (four of sleep per night) condition, and on the third day their hunger hormones were measured as well as subjective measures of their hunger. The sleep deprived group had 18% less Leptin (“don’t eat” hormone) levels, 28% more Ghrelin (“Eat” hormone) levels, 24% hunger sensation, 18% more appetite of non-card foods, and 32% more appetite of carb rich foods. Another study looking at sleep hours and obesity in the last 60 years in the US, shows a correlation between the two; the decreasing sleep time correlates with the increasing obesity rate. Although this can be explained by confounding variables, the claim is that there are no other variables that can explain the increase in obesity except for sleep. </p>

										<h3>Here's a visual infographic about sleep deprivation effects on the body!</h3>
                    <img align="left" src="/assets/body.png">

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>