<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/visitors/index">
                    Information By Topic
                </a>
            </li>
            <li>
                <a href="#">Sleep Benefits</a>
            </li>
            <li>
                <a href="/visitors/hygiene">Sleep Hygiene</a>
            </li>
            <li>
                <a href="/visitors/body">Sleep Deprivation and the Body</a>
            </li>
            <li>
                <a href="#">Sleep Deprivation and the Brain</a>
            </li>
            <li>
                <a href="/visitors/alcohol">Sleep and Alcohol</a>
            </li>
            <li>
                <a href="#">Sleep and Caffiene</a>
            </li> 
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    <h1>Sleep Hygiene</h1>

                    <h3>What is sleep hygiene?</h3>
                    <p>According to the National Sleep Foundation, sleep hygiene is "a variety of different practices and habits that are necessary to have good nighttime sleep quality and full daytime alertness."</p>

										<h3>Conditioning</h3>
										<ul>
										<li>If you’re unable to sleep after trying for about half an hour, leave your bed and do a quiet activity like reading. Tossing and turning in bed does not help! Also, watching the clock does not help while trying to fall asleep, so don’t clock watch!</li>
										<li>Avoid caffeine and alcohol in the afternoon and evening.</li>
										<li>Have a wind down routine before bed and use an electronic curfew.</li>
										</ul>

										<h3>Environment</h3>
										<ul>
										<li>Go to bed and wake up at the same time everyday</li>
										<li>Cool down the room (about 65 degrees Fahrenheit) and make sure to have a comfortable bed</li>
										<li>Dim the lights before you go to sleep and use blackout curtains. Have bright lights when you wake up</li>
										</ul>

										<h3>Why not use sleeping pills?</h3>
										<p> A question you might be wondering is why we should put all this effort into helping us sleep instead of simply using sleeping pills. The simple answer is that sleeping pills don't give you the same type of sleep. Yes, sleeping pills knock people out, but this is more sedation than sleep. This is because sleeping pills, like most medications, have side effects. Although there are different types of sleeping pills, they all share some common side effects:
										<ul>
										<li>Reduced NREM Slow Wave Sleep, which results in lighter sleep</li>
										<li>Daytime drowsiness, day after effect, or drug hangover</li>
										<li>Potential memory problems</li>
										<li>User can build up a tolerance</li>
										<li>Insomnia rebound when discontinued</li>
										</ul>
										In addition to these side effects, a study found a correlation between usage of sleeping pills and increased likelihood of death. On average, those who took sleeping pills were 4.6 times more likely to die over 2.5 years than those who didn't. Those who used higher dosages (over 132 pills per year) were 5.3 more likely to die. Even infrequent users who used at most 18 pills per year were 3.6 more likely to die. In general, this is why sleeping pills are often used as alternatives after improving sleep hygiene practices and behavioral therapy have been attempted.
										</p>

										<h3>Here's a helpful infographic about sleep hygiene!</h3>
                    <img src="/assets/infographic.png">

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
