<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/users/index">
                    Sleep Diary Options
                </a>
            </li>
            <li>
                <a href="/entries/new">Edit Diary Entries</a>
            </li>
            <li>
                <a href="/users/calendar">View Sleep History</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    <h1>Manage Your Sleep Diary!</h1>
                    <p>Open the menu using the "Toggle Menu" button above to view the different options available to manage your sleep diary.</p>
                    <p>Remember to go to the Learn About Sleep page, to learn more about sleep and apply the data you've recorded from your sleep diary!
                    <img src="/assets/diary.png" align="left">
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>