<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
A Sleep Diary web application created by Nathan Khuu for the Psych 133 Sleep Outreach Project in the Spring 2017 semester.
</p>

<p>
There are two components of this website. 

Without registering, you can learn more about sleep!

You can also register an account in order to log your daily sleep. You'll be able to look at your sleep diary and pair it with the information on this website in order to improve your daily sleep habits!
</p>
