<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
A Sleep Diary web application created by Nathan Khuu for the Psych 133 Sleep Outreach Project in the Spring 2017 semester.
</p>
